.up {
    -fx-background-image: url('up.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.down {
    -fx-background-image: url('down.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
