/* 缺省的JavaFX CSS modena.css */
.root {
    -fx-base: #3C3F41;
    -fx-background: -fx-base;
    -fx-control-inner-background: #323232;
    -fx-accent: #4B6EAF;
    -fx-focus-color: -fx-accent;
    -fx-cell-focus-inner-border: -fx-accent;
}
*:focused {
    -fx-background-insets: 0, 0 0 0 0;
}

/* 按钮 */
.button {
    -fx-cursor: hand;
    -fx-background-color: -fx-base;
}
.button:hover {
    -fx-background-color: -fx-accent;
}
.selected {
    -fx-background-color: #515658;
}

/** 滚动条 */
.scroll-bar > .increment-button,
.scroll-bar > .decrement-button,
.scroll-bar:horizontal,
.scroll-bar:vertical,
.scroll-bar:horizontal .track ,
.scroll-bar:vertical .track,
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-control-inner-background;
    -fx-font-size: 12;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #545454;
    -fx-background-radius: 2px;
}

/* 文本域 */
.text-area, .text-area .scroll-pane .content {
    -fx-background-color: -fx-control-inner-background;
    -fx-font-size: 13;
    -fx-prompt-text-fill: gray;
}
.text-input, .text-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
}

/* 文本框 */
.text-field {
    -fx-prompt-text-fill: gray;
}

/* 复选框 */
.check-box {
    -fx-cursor: hand;
}
.check-box > .box {
    -fx-background-color: -fx-control-inner-background;
}
.check-box:selected:hover > .box > .mark {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0 0 0 0, 0;
}

/** 下拉列表 */
.combo-box {
    -fx-cursor: hand;
    -fx-background-insets: 0, 0 0 0 0;
}
.combo-box-popup > .list-view {
    -fx-cursor: hand;
}

/* 树 */
.tree-view, .tree-view:focused {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1;
    -fx-font-size: 13;
}
.tree-view:focused {
    -fx-background-color: -fx-control-inner-background;
}
.tree-cell:filled:selected {
    -fx-background-color: #515658;
    -fx-text-fill: #ffffff;
}
.tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: #ffffff;
}

/* SplitPane */
.split-pane {
    -fx-background-insets: 0, 0, 0, 0;
}
.split-pane > .split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: none;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-border-color: transparent transparent transparent -fx-shadow-highlight-color,
    transparent transparent transparent -fx-text-box-border;
    -fx-border-width: 3, 1;
    -fx-border-insets: 0, 0 0 0 1;
}

/* MenuBar */
.menu-bar {
    -fx-background-color: -fx-base;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-border-color: transparent transparent -fx-shadow-highlight-color transparent,
    transparent transparent -fx-text-box-border transparent;
    -fx-border-insets: 0, 0 0 1 0;
    /*-fx-font-size: 1.166em;*/
}
.menu-bar .menu-item > .label {
    -fx-text-fill: -fx-text-background-color;
}

/* 自定义类 */
.inner {
    -fx-background-color: -fx-control-inner-background;
}