.root {
    -fx-base: #3C3F41;
    -fx-background: -fx-base;
    -fx-control-inner-background: #2B2B2B;
    -fx-accent: #4B6EAF;
    -fx-focus-color: -fx-accent;
    -fx-cell-focus-inner-border: -fx-accent;
}
*:focused {
    -fx-background-insets: 0, 0 0 0 0;
}

/* 按钮 */
.button {
    -fx-background-color: -fx-base;
}
.button:hover {
    -fx-background-color: -fx-accent;
}

/** 滚动条 */
.scroll-bar > .increment-button,
.scroll-bar > .decrement-button,
.scroll-bar:horizontal,
.scroll-bar:vertical,
.scroll-bar:horizontal .track ,
.scroll-bar:vertical .track,
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-control-inner-background;
    -fx-font-size: 12;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #545454;
    -fx-background-radius: 2px;
}

/* 文本域 */
.text-area, .text-area .scroll-pane .content {
    -fx-background-color: -fx-control-inner-background;
    -fx-font-size: 13;
    -fx-prompt-text-fill: gray;
    -fx-font-family: Consolas;
    -fx-text-fill: #BABABA;
}
.text-input, .text-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
}

/* 文本框 */
.text-field {
    -fx-prompt-text-fill: gray;
}

/* 复选框 */
.check-box {
    -fx-cursor: hand;
}
.check-box > .box {
    -fx-background-color: -fx-control-inner-background;
}
.check-box:selected:hover > .box > .mark {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0 0 0 0, 0;
}

/** 下拉列表 */
.combo-box {
    -fx-cursor: hand;
    -fx-background-insets: 0, 0 0 0 0;
}
.combo-box-popup > .list-view {
    -fx-cursor: hand;
}

/* 树 */
.tree-view, .tree-view:focused {
    -fx-background-color: -fx-control-inner-background;
    -fx-padding: 0;
    -fx-font-size: 13;
    -fx-font-family: Consolas;
}
.tree-view:focused {
    -fx-background-color: -fx-control-inner-background;
}
.tree-cell {
    -fx-padding: 2.5;
    -fx-text-fill: #558658;
}
.tree-cell:filled:selected {
    -fx-background-color: #323232;
}
.tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: #ffffff;
}
.tree-cell .key {
    -fx-text-fill: #9876AA;
}

/* SplitPane */
.split-pane {
    -fx-background-insets: 0, 0, 0, 0;
}
.split-pane > .split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: none;
    -fx-background-insets: 0, 0 0 0 0;
}
.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent transparent transparent -fx-shadow-highlight-color,
    transparent transparent transparent -fx-text-box-border;
    -fx-border-width: 3, 1;
    -fx-border-insets: 0, 0 0 0 1;
}
.split-pane:vertical > .split-pane-divider {
    -fx-border-color: transparent transparent -fx-shadow-highlight-color transparent,
    transparent transparent -fx-text-box-border transparent;
    -fx-border-insets: 0, 0 0 1 0;
}
.no-divider > .split-pane-divider {
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

/* tab-pan */
.tab-pane > .tab-header-area > .headers-region > .tab,
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -fx-background;
    /*-fx-background-insets: 0 1 1 0, 1 2 0 1, 2 3 0 2;*/
    -fx-background-insets: 0;
    -fx-focus-color: -fx-background;
    -fx-cursor: hand;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #4E5254;
}
.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-background-color: #27292A;
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button {
    -fx-background-color: white;
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button:hover {
    -fx-background-color: derive(white, -30%);
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
}
.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: null;
}
.tab-pane > .tab-header-area {
    -fx-padding: 0;
    /*-fx-border-width: 0 0 1 0;*/
    /*-fx-border-color: #323232;*/
    -fx-border-color: transparent transparent -fx-shadow-highlight-color transparent,
    transparent transparent -fx-text-box-border transparent;
    -fx-border-insets: 0, 0 0 1 0;
}
.tab-pane > .tab-content-area {
    -fx-padding: 0 5 5 5;
    -fx-background-color: -fx-background;
}

/* MenuBar */
.menu-bar {
    -fx-background-color: -fx-base;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-border-color: transparent transparent -fx-shadow-highlight-color transparent,
    transparent transparent -fx-text-box-border transparent;
    -fx-border-insets: 0, 0 0 1 0;
    /*-fx-font-size: 1.166em;*/
}
.menu-bar .menu-item > .label {
    -fx-text-fill: -fx-text-background-color;
}

/* 菜单 */
.menu-item {
    -fx-cursor: hand;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}
.menu-item:hover {
    -fx-background-color: #4B6EAF;
}
.menu-item.selected {
    -fx-background-color: #515658;
}

/* 编辑器 */
/* 行号 */
.lineno {
    -fx-background-color: #313335;
}
/* 文本框 */
.styled-text-area {
    -fx-background-color: #2B2B2B;
}
.styled-text-area .text {
    -fx-fill: #BABABA;
}
.styled-text-area .text.keyword {
    -fx-fill: #f82671;
    -fx-font-weight: bold;
}
.styled-text-area .text.semicolon {
    -fx-fill: #f82671;
    -fx-font-weight: bold;
}
.styled-text-area .text.paren {
    -fx-fill: #f8f8f2;
    -fx-font-weight: bold;
}
.styled-text-area .text.bracket {
    -fx-fill: #f8f8f2;
    -fx-font-weight: bold;
}
.styled-text-area .text.brace {
    -fx-fill: #f8f8f2;
    -fx-font-weight: bold;
}
.styled-text-area .text.string {
    -fx-fill: #e6da74;
}
.styled-text-area .text.comment {
    -fx-fill: #529955;
}
/** json */
.styled-text-area .text.key {
    -fx-fill: #9876AA;
}
.styled-text-area .text.value {
    -fx-fill: #558658;
}
/** xml */
.styled-text-area .text.tagmark {
    -fx-fill: #808080;
}
.styled-text-area .text.anytag {
    -fx-fill: #569CD6;
}
.styled-text-area .text.attribute {
    -fx-fill: #9CDCFE;
}
.styled-text-area .text.avalue {
    -fx-fill: #CE9178;
}
/* 光标 */
.caret {
    -fx-stroke: #f8f8f2;
}
/* 当前行 */
.paragraph-box:has-caret {
    -fx-background-color: #323232;
}
/* 选择的行 */
.main-selection {
    -fx-fill: #214283;
}
.context-icon {
    -fx-fill: white;
}