/* 文本域 */
.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}
.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}
.text-area:focused {
    -fx-background-color: transparent, white, transparent, white;
}
/* 按钮 */
.button:focused, .combo-box-base:focused {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}
/* 树 */
.tree-view, .tree-view:focused {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1;
    -fx-font-size: 13;
}
.tree-view:focused {
    -fx-background-color: -fx-control-inner-background;
}
.tree-cell {
    -fx-text-fill: #558658;
}

/* 菜单 */
.menu-item {
    -fx-cursor: hand;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}
.menu-item:hover {
    -fx-background-color: #3BC9FA;
    -fx-text-fill: white;
}
.menu-item.selected {
    -fx-background-color: #039ED3;
    -fx-text-fill: white;
}

/* 编辑器 */
.styled-text-area .text.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.styled-text-area .text.semicolon {
    -fx-font-weight: bold;
}
.styled-text-area .text.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.styled-text-area .text.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.styled-text-area .text.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.styled-text-area .text.string {
    -fx-fill: blue;
}
.styled-text-area .text.comment {
    -fx-fill: teal;
}
/** json */
.styled-text-area .text.key, .key {
    -fx-fill: #9227AC;
    -fx-text-fill: #9227AC;
}
.styled-text-area .text.value, .value {
    -fx-fill: #3AB54A;
    -fx-text-fill: #3AB54A;
}
/** xml */
.styled-text-area .text.tagmark {
    -fx-fill: gray;
}
.styled-text-area .text.anytag {
    -fx-fill: crimson;
}
.styled-text-area .text.attribute {
    -fx-fill: darkviolet;
}
.styled-text-area .text.avalue {
    -fx-fill: black;
}
/* 当前行 */
.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}
/* 选择的行 */
.main-selection {
    -fx-fill: #0096C9;
}